node_modules/
.pnpm-store
dist/
*.log
.DS_Store
*.tsbuildinfo
docs/.vitepress/cache
docs/.vitepress/dist

#ignore data
**/data/**

# Generated proto files
**/src/generated/

# Ignore .env
.env
.env.*
